﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/Content/fondomates.jpg);
    background-attachment: fixed;
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        width: 100%;
    }

    .body-content {
        padding: 0;
    }
    .example {
        width: 60%;
        align-content: center;
    }
}

h1 {

    font-family: 'Kids Magazine', 'Game On_PersonalUseOnly';
    font-size: 10px;
}
@font-face {
    font-family: 'Kids Magazine';
    src: url('../fonts/Kids Magazine.ttf') format('truetype');
    font-family: 'Game On_PersonalUseOnly';
    src: url('../fonts/Game On_PersonalUseOnly.ttf') format('truetype');
    font-family: 'Wash Your Hand';
    src: url('../fonts/Wash Your Hand.ttf') format('truetype');
}

